.panoramic {
  @apply w-full h-full pt-[89rem] pb-[74rem];

  @media screen and (max-width: 600px) {
    @apply pt-[42rem] pb-0;
  }
}
.panoramic_wrapper {
  @apply w-[1260rem] h-full mx-auto;

  @media screen and (max-width: 600px) {
    @apply w-full px-0;
  }
}
.panoramic_title {
  @apply text-[45rem] font-bold leading-[130%] text-center;

  @media screen and (max-width: 600px) {
    @apply text-[28rem];
  }
}
.panoramic_text__yellow {
  background: linear-gradient(101deg, #916527 0%, #daa22e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.panoramic_text {
  @apply text-[#231f20];
}
.panoramic_inner {
  @apply mt-[60rem] h-[1036rem] w-auto mx-[15rem] rounded-[18rem] pt-[84rem] pb-[40rem] gap-[50rem];
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 600px) {
    @apply flex flex-col items-center bg-[#fff] w-[1260rem] mt-[100rem] h-[1120rem] rounded-[18rem] pt-[144rem] pr-0 pb-[60rem] pl-0 m-0 box-border mx-auto;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
  }
}
.panoramic_inner__schema {
  @apply text-[25rem] font-bold text-[#000] w-fit h-auto relative top-0 left-[77rem] translate-x-0;

  @media screen and (min-width: 600px) {
    @apply w-[1050rem] h-[506rem] relative left-0 top-0 z-0;
  } 
}
.schema__img {
  @apply flex w-[270rem] h-[562rem] bg-[url('/panoramic-mobile.webp')] bg-cover bg-center bg-no-repeat;

  @media screen and (min-width: 600px) {
    @apply hidden;
  }
}
.schema__img_laptop {
  @apply hidden;

  @media screen and (min-width: 600px) {
    @apply flex w-full min-h-[500rem] bg-[url('/panoramic-laptop.webp')] bg-contain bg-no-repeat;
  }
}
.schema__text__top {
  @apply inline-block text-[15rem] text-center absolute top-[-9%] left-[-28rem] -translate-x-0 z-[1] leading-[120%];
  width: max-content;


  @media screen and (min-width: 600px) {
  @apply inline-block text-[28rem] text-center top-[220rem] left-[824rem] translate-x-0 translate-y-0 z-[1] leading-[115%] -rotate-90;    
  }
}
.schema_text__right {
  @apply inline-flex text-[15.5rem] absolute top-[260rem] right-[-50rem] translate-x-0 z-[1] -rotate-90;
  width: max-content;

  @media screen and (min-width: 600px) {
    @apply inline-flex text-[28rem] w-fit absolute top-[360rem] left-[400rem] z-[1] rotate-0;  
  }
}
.schema_text__bottom {
  @apply inline-flex text-[15.5rem] absolute bottom-[-40rem] left-[64rem] w-auto z-[1];
  

  @media screen and (min-width: 600px) {
    @apply inline-flex text-[28rem] absolute bottom-[206rem] left-[-200rem]  w-fit translate-x-0 translate-y-0 z-[1] -rotate-90;  
  }
}
.schema_text__left {
  width: max-content;
    @apply inline-flex text-[15.5rem] absolute top-[260rem] left-[-66rem] z-[1] -rotate-90;
  
  @media screen and (min-width: 600px) {
    @apply inline-flex text-[28rem] w-[250rem] absolute top-[-60rem] left-[460rem] translate-x-0 translate-y-0 z-[1] rotate-0;  
  }
}
.schema__text_B {
  width: max-content;
    @apply inline-flex text-[17rem] absolute top-[60rem] left-[-56rem] z-[1];
  
  @media screen and (min-width: 600px) {
    @apply inline-flex text-[30rem] w-[250rem] absolute top-[-25rem] left-[876rem] translate-x-0 translate-y-0 z-[1];  
  }
}
.schema__text_A {
  width: max-content;
    @apply inline-flex text-[17rem] absolute bottom-[60rem] left-[-56rem] z-[1];
  
  @media screen and (min-width: 600px) {
    @apply inline-flex text-[30rem] w-[250rem] absolute top-[-25rem] left-[94rem] translate-x-0 translate-y-0 z-[1];
  }
}
.panoramic_inner__list {
  @apply text-[21rem] pl-[32rem] flex flex-col gap-[24rem] leading-[120%] mt-[95rem];
  

  @media screen and (min-width: 600px) {
    @apply flex flex-col gap-[24rem] w-full text-[30rem] font-normal text-[#000] leading-[120%] mt-[50rem] pl-[206rem];  
  }
}