.parking__wrapper {
    @apply w-full h-[1070rem] mt-[70rem] relative top-0 left-0 z-0 bg-[url('/sales/parking-bg-mobile.webp')] bg-cover bg-no-repeat bg-center mx-auto pt-[42rem];
    
    @media screen and (min-width: 600px) {
      @apply w-[1260rem] h-[680rem] mt-[170rem] relative top-0 left-0 z-0 bg-[url('/sales/parking-bg.webp')] bg-cover bg-no-repeat bg-center mx-auto pt-[45rem];
    }
}
.parking__title {
    @apply text-[26rem] text-[#ffe9b6] font-bold text-center leading-[36rem] pb-[6rem] ml-[-30rem];
    width: max-content;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);

   @media screen and (min-width: 600px) {
    @apply text-[36rem] font-bold leading-[110%] ml-[-26rem];
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  }
}
.parking__inner {
  @apply flex-col gap-0 mt-[550rem];

  @media screen and (min-width: 600px) {
    @apply flex flex-row self-end w-full mt-[54rem];   
  }
  
}
.parking__list {

  @apply flex flex-col gap-[30rem] w-full pl-[48rem];

  @media screen and (min-width: 600px) {
  @apply flex flex-col gap-[57rem] w-[50%] pl-[65rem];  
  }
  
}
.parking__text {
  @apply text-[20rem] text-[#fff] font-bold leading-[110%] relative z-0;

  @media screen and (min-width: 600px) {
    @apply text-[24rem] font-bold leading-[26rem];
  }
}
.parking__text::before {

  content: '';
  @apply inline-block absolute top-[8rem] left-[-18rem] z-[1] w-[7rem] h-[7rem] bg-white rounded-full;

  @media screen and (min-width: 600px) {
    content: '';
    @apply inline-block absolute top-[6rem] left-[-38rem] z-[1] w-[12rem] h-[12rem] bg-white rounded-full;
  }
  
}