.clients__title {
  @apply text-[45rem] font-bold leading-normal text-center mt-[90rem] mb-[82rem];

  background: linear-gradient(308deg, #916527 0%, #daa22e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (max-width: 600px) {
    @apply text-[29rem] mt-[34rem] mb-[38rem];
  }
}