.location {
  @apply w-full h-full pt-[34rem] pb-[74rem];

  @media screen and (max-width: 600px) {
    @apply py-[72rem] pb-0;
  }
}
.location_wrapper {
  @apply w-[1260rem] h-full mx-auto;

  @media screen and (max-width: 600px) {
    @apply w-full px-0;
  }
}
.location_title {
  @apply text-[45rem] font-bold leading-[126%] text-center;

  @media screen and (max-width: 600px) {
    @apply text-[28rem];
  }
}
.location_text__yellow {
  background: linear-gradient(101deg, #916527 0%, #daa22e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.location_text {
  @apply text-[#231f20];
}
.location_map {

  // @media screen and (max-width: 600px) {
  //   @apply mt-[40rem] w-full h-[600rem] rounded-none flex flex-col-reverse;
  //   box-shadow: none;
  // }
}